.search-box{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    background:rgb(237, 158, 4, 0.8);
    height:40px;
    border-radius:40px;
    padding:10px;
   
}
.search-box:hover > .txt{
    width:300px;
    padding:0 6px;
  transition: all 1s;

}
.search-box:hover > .btn{
    background:black;
   
}
.btn{
    color:rgb(237, 158, 4);
    float:right;
    width:40px;
    height:40px;
    border-radius:50%;

    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.4s;
    cursor:pointer;
   
   
}
.btn > i{
    font-size:30px;
    color:black;
   
}

.txt{
    border:none;
    background:none;
    outline:none;
    float:left;
    padding:0;
    color: black;
    font-size:16px;
    transition:0.4s;
    line-height:40px;
    width:0px;
    font-weight:bold;
}
form:hover .fa{
  background: #07051a;
  color: rgb(237, 158, 4);
}
body{
    margin: 0;
    width: 100%;
    background: linear-gradient(90deg,#d17218,#84470c,#402206,black);
  }
  
  .picture{
    position: relative;
    min-width: 100%;
    max-height: 100%;
    margin: 0;
    width: 100%;
    height: auto;
    top: 0;
    }
  
  header{
      background-color: #6D3701;
      height: 140px;
      width: 100%;
      flex-direction: row;
      align-content: flex-end;
      display: flex;
      align-items: center; 
      margin: 0;
  }
  
  nav{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: row;
      background-color: black; 
      height: 35%
  }
  
  .superBox{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center; 
  }
  
  .boxy{
      margin: 5%;
      justify-content: space-evenly;
  }
  
  .boxa{
      display: flex;
      background-color: rgb(237, 158, 4);  
      width: 100%;
      text-align: center;
      align-items: center;
      padding: 1% ;
      margin: 5%;
  }
  
  article a{
      text-decoration: none;
      font-size: 100%;
      color: black;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      letter-spacing: 1px;
      padding-left: 30%;
      padding-right: 30%;
      padding-bottom: 1%;
      padding-top: 3%;
  }
  
  .litleBoxou{
    border: solid black;
    margin: 5%;
  }
  /*#twich-embed{
      position: absolute;
      top 80%;
  }*/
  .footer{
      background-color: rgb(2, 2, 2);
      height: 80px;
      flex-direction: row;
      display: flex;
      justify-content: space-around; 
      bottom: 0;
      align-items: center;
      width: 100%;
      color: white;
      overflow: hidden;
      width: auto;
      margin: 0%;
  
  }
    