* {
  box-sizing: border-box;
}

/* Contact */

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgb(255, 145, 0);
  border-radius: 10px;
  background-color: rgb(209, 209, 209);
}

  
.box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(255, 255, 255);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
  outline: none;
  background: transparent;
}
  

.box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
}
  
.box a:hover {
  background: rgb(244, 148, 3);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 0 5px #000000,
                0 0 25px #000000,
                0 0 50px #000000,
                0 0 100px #000000;
}
  
.box a span {
  position: absolute;
  display: block;
}
  
.box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #ffa600);
  animation: btn-anim1 3s linear infinite;
}

.message {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  height: 10rem;
  display: block;
  margin: 30px auto;
  min-width: 300px;
  padding: 10px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.message:hover {
  border: solid #ffa600;
  height: 12em;
  width: 300px;
  transition: ease 0.5s;
}
  
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}
  
.box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, rgb(255, 166, 0));
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}
  
@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}
  
.box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, hsl(39, 100%, 50%));
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}
  
@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}
  
.box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #ffa600);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}
  
@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}
