header {
  background-color: #6D3701;
  height: 140px;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  height: 35%;
}

header nav .nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .nav .lien {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #ed9e04;
  width: 100%;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1%;
  margin: 5%;
  text-decoration: none;
}

header nav .nav article a {
  text-decoration: none;
  font-size: 100%;
  color: black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
  padding-left: 30%;
  padding-right: 30%;
  padding-bottom: 1%;
  padding-top: 3%;
}

header nav .nav .logo {
  margin: 5%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer {
  background-color: #6D3701;
  height: 140px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: white;
  overflow: hidden;
  width: auto;
  margin: 0%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: black;
  height: 35%;
}

body {
  margin: 0;
  /*background-image: url(../img/banniere.png);*/
  background-size: 100%;
  /*background: linear-gradient(90deg,#d17218,#84470c,#402206,black);*/
  background-color: black;
}

.twitch-embed {
  position: absolute;
  margin-left: 20%;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 5%;
}

figure {
  margin: 0;
}

figure .piture {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
}

.video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /*justify-content: space-around;*/
}

.video .biographie {
  position: absolute;
  background-color: white;
  border: solid white;
  margin: 5%;
  width: 15%;
  margin-left: 55%;
  margin-top: 10%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 15px 25px #ff9100;
          box-shadow: 0 15px 25px #ff9100;
  border-radius: 10px;
  background-color: #d1d1d1;
}

.box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: white;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  background: transparent;
}

.box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: black;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .5s;
  transition: .5s;
  margin-top: 40px;
}

.box form a a:hover {
  background: #f49403;
  color: black;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px #000000, 0 0 25px #000000, 0 0 50px #000000, 0 0 100px #000000;
          box-shadow: 0 0 5px #000000, 0 0 25px #000000, 0 0 50px #000000, 0 0 100px #000000;
}

.box form a a:hover a span {
  position: absolute;
  display: block;
}

.box form a a:hover a span span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#ffa600));
  background: linear-gradient(90deg, transparent, #ffa600);
  -webkit-animation: btn-anim1 3s linear infinite;
          animation: btn-anim1 3s linear infinite;
}

.top {
  display: -ms-grid;
  display: grid;
  position: absolute;
  top: 28%;
  margin-left: 20%;
  overflow-y: scroll;
  height: 50%;
}

.dress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 10%;
  background-color: black;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/*# sourceMappingURL=style.css.map */