.article{
    display: flex;
    position: absolute;
    top: 30%;
    background-color: black;  
     width: 50%;
     margin-left: 10%;
     height: 50%;
     border: rgb(235, 118, 0) solid;
     
    
        h1{
          color: white; 
         text-align: center;
         letter-spacing: 2px;
         font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
         
        }
        p{
            color: white;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            letter-spacing: 2px;

        }
        label{
            color: white;
            margin: 2%;
            
        }
        select{
            margin: 5%;
            width: 20%;
        }
        button{
            position: absolute;
            top: 75%;
            left: 55%;
            width: 30%;
        }
}

/*.goodies{
    display: grid;
    position: absolute;
    top: 15%;
    margin-left: 10%;
    border: red solid;

}*/