.top{
    display: grid;
    position: absolute;
    top: 28%;
    margin-left: 20%;
    overflow-y: scroll;
    height: 50%;    
}

.dress{
    display:flex;
    flex-direction: row;
    padding-bottom: 10%; 
    background-color: black;
    flex-wrap: wrap;
}
